@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Urbanist;
}

.cv{
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-template-rows: 200px 2fr;
    gap: 0px;
    width: 75%;
    border: 4px solid black;
    border-radius: 0px;
    background-color: whitesmoke;
}

.cv-main{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.settings{
    grid-column: 2/5;
    display: grid;
    align-items: center;
    width: 75%;
    grid-template-columns: 2fr 2fr 2fr;
}

.settings h1{
    text-align: center;
    grid-column: 2/3;
}

.settings-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.settings button{
    font-family: Urbanist;
    font-size: 24px;
    background-color: whitesmoke;
    border-radius: 12px;
    cursor: pointer;
}

.header{
    grid-column: 1/5;
}

.sidebar{
    grid-column: 1/2;
    grid-row: 2/4;
}

input, textarea, select, button{
    border: 2px solid black;
}