.header{
    font-family: Urbanist;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    height: 100px;
    gap: 20px;
}

.icon{
    cursor: pointer;
}

input{
    font-family: Urbanist;
    font-size: 28px;
    text-align: center;
}