.header{
    font-family: Urbanist;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-template-columns: 2fr 4fr 1fr;
    gap: 64px;
    width: 100%;
    font-size: 24px;
    background-color: rgb(252, 207, 128);
    border-bottom: solid 4px black;
}

.icon{
    cursor: pointer;
}

.header input{
    font-family: Urbanist;
    font-size: 32px;
    text-align: center;
}

.header-name-role{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header-name{
    text-align: center;
    font-size: 54px;
}

.header-role{
    text-align: center;
    font-size: 32px;
}

.header-photo, .header-photo-edit{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-photo-edit{
    flex-direction: column;
    gap: 10px;
}

.header-photo-edit .dot{
    height: 120px;
    width: 120px;
}

.header-input-form{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 5px;
    font-size: 16px;
}

.header-input-form input{
    font-size: 12px;
}

.dot {
    height: 170px;
    width: 170px;
    background-color: #bbb;
    border: 3px solid black;
    border-radius: 50%;
    display: inline-block;
  }