.skill, .skill-preview{
    display: grid;
    align-items: center;
    text-align: left;
    margin: 10px;
}

.skill{
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 16px;
}

.skill input, .skill select{
    width: 100px;
}

.skill-preview{
    grid-template-columns: 1fr 1fr;
    font-size: 24px;
    gap: 20px;
}

.skills-edit{
    display: flex;
    gap: 10px;
}

.skill-add{
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    background-color: white;
    margin: 10px;
    padding: 15px;
    border: 2px solid black;
    border-radius: 6px;
}

.skill-add-container{
    display: flex;
    justify-content: center;
}

.skill-add button{
    grid-column: 1/2;
    width: 50%;
}

.skill-add input, .skill-add label, .skill-add button{
    font-family: Urbanist;
}

li{
    list-style-type: none;
    text-align: center;
}